[2012-08-11 09:20] PyYoshi opened #1 "failed to build on CentOS6"
[code]

not work "cython /tmp/cChardet/src/cchardet/cchardet.pyx"?

[2012-08-22 12:54] #1 closed, assigned to nobody

[2012-08-28 10:31] ghost opened #2 "Error building cchardet"
My system is CentOS release 5.8 (Final), gcc 4.1
python setup.py build

// some code
g++ -pthread -shared build/temp.linux-x86_64-2.7/src/cchardet/_cchardet.o build/temp.linux-x86_64-2.7/src/ext/libcharsetdetect/charsetdetect.o build/temp.linux-x86_64-2.7/src/ext/libcharsetdetect/mozilla/extensions/universalchardet/src/base/LangFrenchModel.o build/temp.linux-x86_64-2.7/src/ext/libcharsetdetect/moz

[2012-08-29 23:30] #2 closed, assigned to nobody

[2012-09-18 02:16] goog opened #3 "crashed"
[code]

The crashed program seems to use third-party or local libraries:

/usr/local/lib/python2.7/dist-packages/cchardet-0.3.1-py2.7-linux-i686.egg/cchardet/_cchardet.so

It is highly recommended to check if the problem persists without those first.

Do you want to continue the report process anyway?

[2012-10-22 15:10] #3 closed, assigned to nobody

[2013-06-03 12:23] termopro opened #4 "Segmentation fault when processing some documents"
Code below gives "Segmentation fault error" when run in Ubuntu 12.04 with Python 2.7.3

---

import urllib2
import cchardet

url = 'http://www.balbro.com'
req = urllib2.Request(url)
r = urllib2.urlopen(req)
data = r.read()
result = cchardet.detect(data)

---

[2013-06-08 15:50] asapo opened #5 "Support setuptools 0.7 series"
I'm using setuptools 0.7.1.

[code]

or

[code]

output

[code]

[2013-08-03 09:14] #5 closed, assigned to nobody

[2013-08-04 05:16] #4 closed, assigned to nobody

[2013-12-02 20:10] denik opened #8 "x-mac-cyrillic is not valid Python encoding name"
should be renamed to `mac-cyrillic`

[2013-12-03 01:32] #8 closed, assigned to nobody

[2015-05-06 00:00] hangtwenty opened #10 "Version 1.0?"
The version of this library on PyPI is 0.3.5. It's been a long time since the last commit, and with no open issues, that would seem to indicate that the library is very stable.

Also, it seems like libcharsetdetect + related things are all in a settled or stable state as well -- so it doesn't seem like libcharsetdetect needs updating... References: [uchardet-enhanced - 2012](https://bitbucket.org/

[2015-08-10 21:21] VelizarVESSELINOV opened #11 "cChardet is not working docker python:slim"
[code]

probably some required package are missing, if setup can add them or at least provide clear error message it will be helpful.

[2015-09-03 07:46] PyYoshi commented on #11
Hi VelizarVESSELINOV!

Thank you for reporting. And sorry for my late reply.
Can you be a bit more specific about Docker Container?
Is this [Dockerfile](https://github.com/docker-library/python/blob/15798abb6cfb145344462a345db4b572227fb859/3.4/slim/Dockerfile)?

[2015-09-06 23:42] VelizarVESSELINOV commented on #11
Yes, the Dockerfile
[code]
give the error above, if I use ``python`` normal (not the ``slim`` version) is working but the error with ``python:slim`` is far to be clear.

Looks like cchardet requires something (like cython) that is missing python:slim: https://github.com/docker-library/python/blob/15798abb6cfb145344462a345db4b572227fb859/3.4/slim/Dockerfile

[2015-09-07 06:36] PyYoshi commented on #11
Maybe, it's caused by [this line](https://github.com/docker-library/python/blob/15798abb6cfb145344462a345db4b572227fb859/3.4/slim/Dockerfile#L55,L56).

---

This Dockerfile is working!

[code]

Sorry for my poor English

[2015-09-07 08:52] #10 closed

[2015-09-12 03:19] VelizarVESSELINOV commented on #11
Thank you very much for the solution :)

And you don't need to be sorry for your English it is very good and it is not poor :)
My Japanese is less than Basic :)

[2015-09-26 05:05] #11 closed

[2015-10-08 22:38] meshy opened #13 "LookupError: unknown encoding: EUC-TW"
This seems similar in nature to https://github.com/PyYoshi/cChardet/issues/8, but unfortunately, I do not know what to recommend as an alternative to `EUC-TW`.

One can see that there is nothing that quite matches in [Python's list of standard encodings](https://docs.python.org/3.5/library/codecs.html#standard-encodings).

I also thought that I should look through the other encodings mentioned in

[2015-10-28 15:20] luckcolors opened #14 "cchardet-1.0.0-cp34-none-win_amd64.whl build is missing."
Hello.
I need the cchardet build for windows 64 but it's missing could you please compile the missing one?
https://pypi.python.org/pypi/cchardet/1.0.0
Thanks in advance. :)

[2016-05-22 11:00] themightyoarfish opened #15 "Installation on OSX fails"
[code]

When running the install manually without pip, it works.

System Info: OSX 10.10.5

[2016-05-22 11:16] PyYoshi commented on #15
Hi @themightyoarfish!

How did you install python on OSX? (I'm using only [pyenv](https://github.com/yyuu/pyenv). XD

I'd like to hear more details.

[2016-05-22 11:17] themightyoarfish commented on #15
`python` is resolve to the macports Python 2.7 install. I think pip also uses that.

[2016-05-22 11:32] PyYoshi commented on #15
Can you install cython before you install cchardet?

[code]

[2016-05-22 11:34] themightyoarfish commented on #15
I have install cython, or do you think it is significant that I do it with
pip? Since it is not in `/opt/local/bin` but in `/usr/local/bin`, I reckon
it was installed with pip or came preinstalled.

On 22 May 2016 at 13:32:40, Yoshihiro Misawa (notifications@github.com)
wrote:

Can you install cython before you install cchardet?

$ sudo pip install cython
$ sudo pip install cchardet

—
You are rec

[2016-10-09 08:18] meshy commented on #13
Further investigation has revealed that [python *wont fix* `EUC-TW` and `ISO-2022-CN`](https://bugs.python.org/issue2066) encodings.

[2016-10-17 06:48] PyYoshi commented on #14
Hi luckcolors!

Sorry for my late reply :cry:

I just supported 3.4/3.5 windows 64bit binaries. check this [here](https://pypi.python.org/pypi/cchardet/1.1.0)  :smile:

[2016-10-17 06:48] #14 closed

[2016-10-20 20:42] craigds opened #17 "confidence=0 when scanning ASCII text"
`cchardet` gives confidence of 0.0 when scanning ascii text. This is inconsistent with `chardet`'s behaviour:

[code]

The size of the document makes no difference; the returned confidence is always 0.0.

1.0 would seem to be more correct since the document has no non-ASCII characters.

[2016-11-03 23:20] Kentzo opened #18 "Upload manylinux wheel to pypi"
Would simplify installation on environments where C compiler is not present.

[2016-11-04 03:34] PyYoshi commented on #18
done.

check [it](https://pypi.python.org/pypi/cchardet/1.1.1)

[2016-11-04 03:34] #18 closed

[2016-11-09 02:04] rhinoceros opened #19 "Is this an detect error"
python 2.7.11
cchardet-1.1.1-cp27-cp27m-win_amd64.whl (md5)
window server 2008 r2 enterprise
system language: chinese simple (操作系统显示语言：简体中文）
test.py is the python code
testfile.cs is the input file (open by notepad, [save as（另存） ] show the encode（编码） is ANSI
testfile.chardet.cs  is the output file: decode by chardet.detect(raw)['encoding'] ,then , encode by utf8
testfile.cchardet.cs is the output

[2016-11-09 07:05] PyYoshi commented on #19
Hi rhinoceros.

Maybe. It's not enough sample data for cchardet.

I modified ``test.py``.

[code]

and do this.

[code]

Thanks.

[2016-11-14 03:36] rhinoceros commented on #19
I see , thks.

[2016-11-18 02:57] #19 closed

[2016-11-22 06:10] craigds opened #20 "Segmentation fault when fed `\x8f`"
This code:
[code]

results in a segmentation fault (during `d.result`)

(Python 2.7.6, 2.7.12, 3.4.3)

[2016-11-22 08:13] PyYoshi commented on #20
Hi craigds. Thank you for reporting.

@moden-py. Can you check this issue? Because I think that you are familiar with this.

[2016-12-15 17:29] luckcolors commented on #14
Thanks man!
Yeah also sorry for this late reply. :)

[2017-01-02 12:56] spatz opened #21 "Upload wheel for Python 3.6"

[2017-01-08 03:51] PyYoshi commented on #21
check this version.

https://pypi.python.org/pypi/cchardet/1.1.2

thanks.

[2017-01-08 03:51] #21 closed

[2017-01-10 23:54] OliverEvans96 opened #22 "AARCH64 Support?"
Hello!

I'm using an ODROID C2 (http://www.hardkernel.com/main/products/prdt_info.php), which has AARCH64 architecture. The operating system is Ubuntu MATE 16.04.

When running `pip install cchardet`, I get this error complaining about the architecture:

[cchardet_error.txt](https://github.com/PyYoshi/cChardet/files/697684/cchardet_error.txt)

The same happens when I try to install manually from t

[2017-01-12 04:08] PyYoshi commented on #22
Thank you for reporting.

I've never been to try it on aarch64 yet.
But I found aarch64 support patch for cchardet.

Can you try [this patch](https://github.com/archlinuxarm/PKGBUILDs/blob/master/community/python-cchardet/0001-Add-AArch64-support.patch)?

Thanks.

[2017-01-12 04:51] OliverEvans96 commented on #22
PyYoshi,

Thanks so much for the response! With your patch, the install works fine, but I now get the following error upon importing cchardet:

[code]

I'm trying to set up a [zulip](https://github.com/zulip/zulip) server on the odroid, and zulip uses cchardet. If it's not possible to get cchardet working, then I'll look into modifying zulip to use chardet.

Thanks again!
Oliver

[2017-01-12 21:11] OliverEvans96 commented on #22
PyYoshi,

I was able to set up zulip with pure-python chardet.

Thank you for your time!
Oliver

[2017-02-19 12:31] PyYoshi commented on #22
I ordered an armv8 board last week. I will try checking this issue when it arrives. :)

[2017-02-19 15:02] OliverEvans96 commented on #22
Awesome, thank you!

Oliver

On Sun, Feb 19, 2017, 7:31 AM Yoshihiro Misawa <notifications@github.com>
wrote:

[2017-02-26 09:19] PyYoshi commented on #22
Hi @OliverEvans96

I released [v1.1.3](https://pypi.python.org/pypi/cchardet/1.1.3).

It supports aarch64. Please check it.

Thanks.

[2017-02-26 16:04] OliverEvans96 commented on #22
Thanks so much!

On Sun, Feb 26, 2017, 4:19 AM Yoshihiro Misawa <notifications@github.com>
wrote:

[2017-03-21 03:46] christian-storm commented on #17
I'm having the same issue for what it is worth.

[2017-03-26 10:23] burner1024 commented on #8
still not fixed in readme

[2017-03-26 10:32] burner1024 opened #24 "misdetecting windows-1251 for mac-cyrillic"
Dialog.tra is in fact windows-1251.
[code]
[code]
[dialog.tra.zip](https://github.com/PyYoshi/cChardet/files/870684/dialog.tra.zip)

[2017-03-28 10:15] #15 closed

[2017-03-28 10:15] #22 closed

[2017-04-05 03:14] PyYoshi commented on #20
Hi @craigds

Sorry for my late reply.

I fixed [v2 branch](https://github.com/PyYoshi/cChardet/tree/v2).

Please check it out.

[2017-04-05 03:14] #20 closed

[2017-04-05 03:18] PyYoshi commented on #17
Hi @craigds and @christian-storm

Sorry for my late reply.

I fixed [v2 branch](https://github.com/PyYoshi/cChardet/tree/v2).

Please check it out.

[2017-04-05 03:18] #17 closed

[2017-04-05 03:20] PyYoshi commented on #24
Hi @burner1024

Sorry for my late reply.

I fixed [v2 branch](https://github.com/PyYoshi/cChardet/tree/v2).

Please check it out.

[2017-04-05 03:20] #24 closed

[2017-04-10 02:06] craigds opened #26 "Windows curly quotes trip up cchardet"
Forgive me if this is the wrong place for this - I'm somewhat ignorant of the internal workings of cchardet.

\x92 seems cause strings to be interpreted as this central european encoding:

[code]

I don't know enough about central european languages to comment on whether that's a good choice. I do know that curly quotes as produced by MS Word are quite common, so interpreting them badly seems like

[2017-04-10 02:39] craigds commented on #26
The original data we found this in came from a bigger dataset. Running it on cchardet 1.1.3 and 2.0 gives quite different results:

[code]

Data is proprietary license, but if required to solve the issue I can see if I can get permission to supply it.

[2017-04-11 23:49] jeffrey-easyesi opened #27 "Input truncated at first NUL byte"
When the byte-string passed to `detect` or `feed` has a NUL (\x00) byte inside it, none of the following bytes are actually fed to the detector. This leads to binary files often being detected as ASCII with high confidence:
[code]

Possibly relevant: https://github.com/cython/cython/wiki/FAQ#how-to-pass-string-buffers-that-may-contain-0-bytes-to-cython

[2017-04-12 02:16] PyYoshi commented on #27
Hi @jeffrey-easyesi .
Thank you for reporting!

I'll check this issue.

Thanks.

[2017-04-13 14:24] livercat opened #28 "Incorrect detection of utf-8-sig encoding"
Test data:
data = "some text".encode('utf-8-sig')

Detection result:
cchardet 1.1.3: {'encoding': 'UTF-8', 'confidence': 0.9900000095367432}
cchardet 2.0.0: {'encoding': 'UTF-8', 'confidence': 0.9900000095367432}
chardet 3.0.2: {'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

[2017-04-14 01:34] #28 closed

[2017-04-14 01:53] PyYoshi commented on #27
Hi @jeffrey-easyesi.
Please tell me the version of Python and cChardet you are using.

I tried it with cChardet v2.0.0:

[code]

[2017-04-14 04:38] jeffrey-easyesi commented on #27
Python 3.5.2, cChardet v2.0.0

I shouldn't have used /bin/sh as an example since that's going to look different on different OSes. Try an explicit string like `b'ABC\x00\x80\x81'`
[code]

[2017-04-25 02:08] #27 closed

[2017-05-12 01:19] XueWenhui opened #31 "Why import cchardet as chardet does not work, import cchardet do works"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

[2017-05-12 02:10] #31 closed

[2017-06-30 14:42] futatuki opened #32 "cchardet-2.1.0.tar.gz dosen't contain COPYING file"
### OS/Arch
any

### Python version

any

### cChardet version
2.1.0

### What is the problem?
cchardet-2.1.0.tar.gz download from https://pypi.python.org/ don't contain COPYING file.

#### Expected behavior
COPYING file is contained in archive, (README.rst suggests to see COPYING file for License)

#### Actual behavior
It is not contain.

#### Steps to reproduce the behavior
fetch tarball from ht

[2017-07-01 09:32] PyYoshi commented on #32
Thank you for reporting!

I released [v2.1.1](https://pypi.python.org/pypi/cchardet/2.1.1)

P.S: 必ずテンプレートに従うかたちではなくても構わないです. この場合はバグというわけではないので.

[2017-07-01 09:32] #32 closed

[2017-07-14 14:19] ulyashin opened #33 "Incorrect detection of TIS-620 instead of UTF-8"
cchardet incorrectly detects TIS-620 encoding for some UTF-8 encoded cyrillic strings:

[code]

[2017-12-12 02:36] Travis-z opened #34 "ImportError: dynamic module does not define init function (init_cchardet)"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/python2.7/lib/python2.7/site-packages/cchardet/__init__.py", line 3, in <module>
    from cchardet import _cchardet
ImportError: dynamic module does not define init function (init_cchardet)

I use thecom

[2018-01-09 10:18] scoder opened #35 "Build wheels with LTO enabled"
Not sure if this is already being done, but since I couldn't find a reference to it, I thought I'd bring up the suggestion.

`uchardet` is a non-trivial external library, and it looks like it's directly linked in by `cchardet`. This setup usually benefits from enabling `-flto` in GCC, to allow for cross-module link-time optimisation. It's a cheap thing to do, but can have quite a visible impact on

[2018-01-09 14:10] PyYoshi commented on #35
Hi @scoder.

Thank you for the information.

I pushed that enable LTO for wheel builds.

https://github.com/PyYoshi/cChardet/tree/lto

But I don't test it yet. I will do this when I have time.

[2018-03-07 00:56] rhamnett opened #37 "Failed to build cchardet - osx 10.13.3 with brew python3"
Failed building wheel for cchardet
  Running setup.py clean for cchardet
Failed to build cchardet
Installing collected packages: cchardet, ccxt
  Running setup.py install for cchardet ... error
    Complete output from command /usr/local/opt/python/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/private/var/folders/c6/t3s_sm6906j2lm2rcp2bdmqh0000gp/T/pip-build-ni2b6d85/cchardet/setup.p

[2018-05-16 01:51] aishvarma opened #38 "multiple licenses"
Hi,
Can I ask why you mention multiple licenses in the License.txt ? For a reference- chardet had used only GNU LGPL. Just seemed unusual
Thanks!

[2018-05-24 11:15] aishvarma commented on #38
@PyYoshi gentle prod on this query.

[2018-06-01 18:12] armudgal opened #39 "Raising Exception"
Hi,
I was just wondering whether `cchardet.detect()` can throw an error or not, if it can then in which scenario.
Thanks.

[2018-06-03 11:19] kira0204 commented on #38
Hi,
I don't think the author is active anymore.

[2018-06-17 22:33] rhamnett commented on #37
Had another incorrect assert.h on the path, in /usr/local/include

[2018-08-07 08:38] nikolay commented on #37
It fails on macOS 10.14 as well. I did install the uchardet package, but it still doesn't change anything. Strangely, when I do `pip3 install --user --upgrade cchardet`, it works fine, but when it's getting updated as a dependency, it fails.

[2018-08-13 17:05] pachecobruno commented on #37
Happens when I try to install version 1.3.3. Any idea?

[code]

[2018-10-08 15:04] xen opened #40 "Build error on Mojave"
### OS/Arch

uname_result(system='Darwin', node='Horizon.local', release='18.0.0', version='Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64', machine='x86_64', processor='i386')

### Python version

Python 3.6.5, Python 3.7.0

### cChardet version

2.1.4

### What is the problem?

After upgrade to OSX Mojave I'm started to get error on module compil

[2018-10-08 16:05] xen commented on #40
I was able to "fix" it by renaming folder `/usr/local/include` to `/usr/local/include_old` as it is suggested here https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13. I'm not sure if this is right way of fixing things.

[2018-10-09 11:31] PyYoshi commented on #40
This is not a problem related to cChardet.

And I do not reproduce this problem on macOS Mojave.

setup:

[code]

env:

[code]

install from pip:

[code]

install from source:

[code]

[2018-10-16 12:19] #40 closed

[2018-10-17 22:13] #34 closed

[2018-10-17 22:13] #39 closed

[2018-10-17 22:13] #38 closed

[2018-10-26 16:01] wlhgtc commented on #37
Same Problem，Hope could be fixed！

[2018-10-29 21:29] touretzkyds opened #41 "cchardet upgrade fails in Python 3.5.2"
### OS/Arch

MacOS

### Python version

3.5.2

### cChardet version

2.1.4

### What is the problem?

Instead of getting a wheel, pip tries to compile cchardet from source, which doesn't work on my users' machines.

#### Expected behavior

"pip install --upgrade cchardet" should install the latest working version of cchardet.

#### Actual behavior

pip tries to build cchardet from source, and fail

[2018-10-30 01:40] touretzkyds commented on #41
Calypso.app is a software product (https://Calypso.software) that I develop and maintain. It is supported on Windows, Mac, and Linux. Therefore, I don't want to use OS-specific solutions such as Homebrew, nor do I want to go to the trouble of building Python myself, especially not on the Mac, because I'm not a Mac guy.

On the Mac, Calypso.app contains a private copy of Python 3.5.2 in its Resourc

[2018-11-18 07:24] touretzkyds commented on #41
I reported this issue 19 days ago and cchardet is still broken on the Mac for Python 3.5.2. What is the problem with putting out a new wheel?

[2019-01-01 18:56] #37 closed

[2019-01-02 11:00] uuip opened #42 "can not detect some encoding"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?
Can not detect some case....
eg: b'HTTP/1.0 200 Ok\r\nServer: Gnway Web Server\r\nDate: \xd6\xdc\xc8\xfd, 02 \xd2\xbb\xd4\xc2 2019 18:51:54 GMT\r\nContent-Type: text/html\r\nContent-Length: 243\r\n\r\n'
#### Expected behavior
import chardet
chardet.detect(info)
{'encoding': 'GB2312', 'confidence

[2019-01-24 12:08] #41 closed

[2019-02-08 20:48] tzeppy commented on #13
Just ran into this myself.

[2019-02-23 01:02] billtubbs commented on #37
I have this problem.  Can't install goodtables.  Is there any plan to fix for Mac OS X users?

[2019-03-10 12:08] #42 closed

[2019-03-12 06:02] uuip commented on #42
a library that no one has to maintain

[2019-04-08 17:50] nikolay commented on #37
@PyYoshi Please, look into this! It's been more than an year!

[2019-06-18 03:23] ervlh commented on #37
I have same problem. Does anyone fixed it?

[2019-06-24 22:25] chamilton-turner commented on #40
I was able to install cchardet on macOS 10.14.4 with the following conda command:

`conda install -c conda-forge cchardet `

Hope this helps.

[2019-07-13 07:40] s2pstefan commented on #37
Same here. Please fix.

[2019-07-15 14:23] xiandong79 commented on #37
Same here. Please fix.

[2019-07-18 13:02] yxlspider opened #43 "Result eq to None"
### OS/Arch

[code]
win10/ubuntu18.03
### Python version
python3.7
[code]

### cChardet version

[code]

### What is the problem?
import cchardet
x=cchardet.detect('我是菜鸡'.encode(encoding='GBK'))
print(x)
#### Expected behavior
{'encoding': 'GB18030', 'confidence': ***}
#### Actual behavior
{'encoding': None, 'confidence': None}

#### Why
Why is None?

[2019-07-22 04:17] PyPatel commented on #37
Guys, I have found a way around this. The previous version works.
So if you want to install this you can use `pip3 install cchardet==1.0.0` to install this package.

[2019-07-29 03:38] jayvdb opened #44 "macOS wheels"
Thanks for a great library.

I see there are no macos wheels.  macOS jobs can be run on Travis CI and aZure pipelines IIRC, to do deploys to pypi or upload artifacts to another location for manual uploading to pypi.

[2019-07-29 07:37] jayvdb commented on #26
This bug still occurs, and the `chardet` package gets this right.

Very likely this is a bug in https://github.com/PyYoshi/uchardet , the underlying library powering cChardet.

[2019-07-30 13:35] jayvdb opened #45 "Incorrect detection of GB18030 as ISO-8859-16"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?

`b'\xc4\xe3\xba\xc3'` is detected as `{'encoding': 'ISO-8859-16', 'confidence': 0.3758675158023834}` which renders as `ÄășĂ`

#### Expected behavior

It should be detected as GB18030 你好

[2019-09-23 13:36] #43 closed

[2019-09-25 08:33] yxlspider commented on #43
All right. Thanks.

[2019-09-27 06:02] jayvdb commented on #44
ahem- dumb bots discourage contributions to your project.

[2019-10-05 15:08] #45 closed

[2019-10-07 23:49] jayvdb commented on #45
ping @PyYoshi

[2019-11-15 12:33] decaz opened #46 "Support Python 3.8"
... and prepare for Python 3.9 (dev).

[2019-11-18 03:53] #46 closed

[2019-11-25 18:07] rstm-sf commented on #13
See https://stackoverflow.com/q/18518730

[2019-11-26 09:10] jayvdb commented on #44
sigh

[2019-12-08 14:05] agnesmm commented on #37
`conda install -c conda-forge cchardet` resolved the issue for me

[2019-12-20 14:58] kolatz commented on #37
this combination did the job:

[code]

[2019-12-31 16:29] vishalmhjn opened #50 "Installation fails"
### OS/Arch
OSX 10.15.2
`uname_result(system='Darwin', release='19.2.0', version='Darwin Kernel Version 19.2.0: Sat Nov  9 03:47:04 PST 2019; root:xnu-6153.61.1~20/RELEASE_X86_64', machine='x86_64', processor='i386')`

### Python version

`Python 3.6.0`

### What is the problem?
pip installation fails with the following error

[code]

#### Steps to reproduce the behavior
`pip install cchardet `

[2019-12-31 18:02] vishalmhjn commented on #50
Upgrading to Python 3.7.6 solved the issue :)

[2019-12-31 18:02] #50 closed

[2019-12-31 18:04] vishalmhjn commented on #37
Upgrading to Python 3.7.6 from 3.6 solved the issue for me.

[2020-01-23 16:46] ThomasVrancken commented on #37
Thanks @agnesmm ! That worked for me

[2020-02-01 09:34] #44 closed

[2020-02-24 20:15] eight04 opened #52 "Installation error: Visual C++ is required"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

2.1.5

### What is the problem?

`pip` tries to compile the source code and fail.

#### Expected behavior

Install the wheel.

#### Actual behavior

[code]

[code]

[2020-03-02 10:01] ahbon123 opened #53 "error: command '/usr/bin/clang' failed with exit status 1"
### OS 10.15

[code]

### Python version

[code]
As I try to install `cChardet`, it generates the following error. Anyone could help? Thank you.

### What is the problem?
[code]

[2020-03-05 04:11] dmccaffrey12 commented on #52
I am having the same issue. Even after downloading Visual C+++

[2020-03-05 12:34] frederikaalund opened #54 "Clarify the intent of COPYING"
The COPYING text file mentions three (incompatible) licenses:
 * GPL 2
 * LGPL 2.1
 * MPL 1.1

Is cChardet multi-licensed? That is, can I freely choose between the licenses?
*or*
Do each license apply to some parts (files) of cChardet? If so, which licenses apply to which parts?

In any case, I'd like to see the intent clarified within the COPYING file itself. A good example of how to do so is [mo

[2020-03-05 23:22] eight04 commented on #52
I was able to compile the source code after installing the C++ build tool. You can follow the instruction here:
https://stackoverflow.com/a/59057393/3413125

The link to the build tool:
https://visualstudio.microsoft.com/visual-cpp-build-tools/

If it still fails, it might be a different issue.

[2020-03-08 01:35] dmccaffrey12 commented on #52
That worked!!!! Thank you so much!

[2020-03-18 17:31] danielhrisca opened #58 "pyinstaller issue with cchardet 2.1.6"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?
An application frozen with pyinstaller does not start raising this error. Using cChardet 2.1.5 does not cause this problem.

[code]

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

[2020-04-06 14:47] danielhrisca commented on #58
@PyYoshi see https://github.com/danielhrisca/asammdf/issues/346

[2020-04-26 09:05] genesem opened #61 "DLL load failed while importing _cchardet"
### OS/Arch
win10/x64

[code]

### Python version

python 3.8.2 x64

### cChardet version

cchardet 2.1.6

### What is the problem?
  File "C:\DevPy\DnsOverHTTPS\test.py", line 2, in <module>
    import cchardet as chardet
  File "C:\Py3\lib\site-packages\cchardet\__init__.py", line 1, in <module>
    from cchardet import _cchardet
ImportError: DLL load failed while importing _cchardet

### switch

[2020-05-07 13:25] eight04 commented on #52
I can no longer repro with cchardet 2.1.6.
[code]

[2020-05-09 01:26] #53 closed

[2020-05-12 19:00] fabaff opened #62 "Remove bundled uchardet"
# What is the problem?

`uchardet` is bundled. This is a major concern if the package should be included in package collection of distributions as `uchardet-devel` could already be present.

#### Expected behavior

Use distro package (e.g., `uchardet-devel`) and not the bundled copy of `uchardet` during the build process. Please consider to remove the bundled `uchardet` or provide the possibility

[2020-05-13 04:14] #54 closed

[2020-05-17 17:02] fabaff opened #63 "Move away from nose for the unittests"
### What is the problem?
`nose` was not maintained for the last 5 years and Fedora will no longer ship it. This means that all packages which depends on `nose` are no longer able to run the unit tests during the RPM build process.

#### Expected behavior

Running the unit test with `pytest`.

#### Actual behavior

Requires `nose` to run tests.

Origin: https://bugzilla.redhat.com/show_bug.cgi?id=1

[2020-06-06 11:21] itheabyss commented on #61
i got the same problem. so it is a bug of 2.1.6?
win10 x64 20h1

anyone teach me how to fix it? thanks

[code]

[2020-06-06 12:13] itheabyss commented on #61
i've installed 'cchardet‑2.1.6‑cp38‑cp38‑win_amd64.whl', it works!

[2020-07-13 14:57] #52 closed

[2020-07-15 19:55] carlwgeorge commented on #62
Not stale.

[2020-07-20 15:33] carlwgeorge commented on #63
.

[2020-08-15 23:32] #61 closed

[2020-09-13 19:59] carlwgeorge commented on #62
@PyYoshi Will you disable the stale bot on this issue?

[2020-10-28 07:52] danielhrisca commented on #58
ping @PyYoshi

[2020-11-06 16:30] aceohartz81 commented on #58
I am also seeing this behavior using Python 3.7.1rc2 with cchardet-2.1.7-cp37-cp37m-win_amd64.whl

[2021-02-19 14:47] AEHamrick opened #69 "cChardet returns {'encoding': None, 'confidence': None} on very large file"
### OS/Arch

[code]

### Python version

[code]

### cChardet version

[code]

### What is the problem?
When passing very large file to the .feed() function line by line cchardet is unable to determine the encoding.

`head -X` of my file shows that it's tab delimited text while `file -i` reports ` application/octet-stream; charset=binary` --this may be my issue but I've read that `file` is bad at

[2021-02-26 14:09] odidev opened #70 "Wheel support for linux aarch64[arm64]"
**Problem Description:**
On aarch64, pip install cChardet builds the wheels from source code to install it which takes some time to build the wheels than downloading and extracting the wheels from pypi. To build the wheel, development environment is also required to be installed on the user's system.

**Resolution:**
On aarch64, pip install cChardet should be able to download the wheels from pypi

[2021-02-28 22:34] laurielounge opened #71 "UniversalDetector.reset() does not reset the detector"
### OS/Arch

[code]
uname_result(system='Linux', node='testserver.mimeanalytics.com', release='4.18.0-240.10.1.el8_3.x86_64', version='#1 SMP Mon Jan 18 17:05:51 UTC 2021', machine='x86_64', processor='x86_64')

### Python version

[code]
Python 3.6.8

### cChardet version

[code]
2.1.7
### What is the problem?
ud = cchardet.UniversalDetector()
ud.reset() does not reset the values of ud.done or ud

[2021-03-05 12:48] danielhrisca commented on #58
@PyYoshi @aceohartz81
there was a similar issue in `numexpre` (see https://github.com/pydata/numexpr/issues/372)

[2021-04-13 14:16] neeyooo opened #74 "Can't install cChardet on my ARM64 machine"
### OS/Arch
('Linux', 'S905X', '5.9.8-meson64', '#trunk SMP PREEMPT Thu Nov 12 23:40:19 UTC 2020', 'aarch64', 'aarch64')
### Python version
Python 3.8.8
### cChardet version
2.1.7 and below version
### What is the problem?
Can't install cchardet. Maybe it's because setup.py
#### Expected behavior
It can install normally
#### Actual behavior
### Showing error

  Using cached cchardet-2.1.7.tar.gz (

[2021-05-12 15:00] brondsem commented on #54
I am not the author(s), so cannot answer definitively, but here is what I have found:
- in `cchardet`, I've found no further licensing information in source code files, nor in git history of COPYING
- `cchardet` is a binding to `uchardet` https://github.com/PyYoshi/uchardet which has the same 3-license COPYING file
- https://github.com/PyYoshi/uchardet is a fork of https://github.com/freedesktop/u

[2021-10-05 23:21] decaz opened #77 "Support Python 3.10"
... and prepare for Python 3.11 (dev).

[2021-12-26 07:09] AIGeneratedUsername commented on #74
The same on:

- **Python 3.10.1**
- **Lubuntu 20.04**

[2022-01-01 20:31] robertdrolland commented on #74
This is a different error than I ran into but since it failed initially on the same source code file, you may need to check some requirements.  My error was due to cc1plus missing.  I needed to install g++ since although gcc is installed by default, g++ is not (at least on ubuntu 20.04 for aarch64).  This fixed my problem and cchardet now installs correctly.  The source of your error may be simila

[2022-01-13 18:27] tooruu commented on #62
lol

[2022-01-14 23:03] AstroFloof commented on #74
Can confirm, you need to have gcc and g++ to install, as well as python3.X-dev

[2022-03-17 19:45] spenpal2000 commented on #77
Any news on making this library Python 3.10 supported?

[2022-03-27 01:19] oleksandr-kuzmenko commented on #77
https://github.com/PyYoshi/cChardet/pull/78

[2022-03-27 01:24] oleksandr-kuzmenko commented on #77
JFYI https://github.com/PyYoshi/cChardet/pull/78

[2022-04-18 18:12] #62 closed

[2022-04-18 18:12] #63 closed

[2022-04-19 10:24] fabaff commented on #63
Still relevant.

[2022-04-19 10:24] fabaff commented on #63
Would be fixed by #78

[2022-04-27 23:12] #69 closed

[2022-05-04 21:59] ooliver1 commented on #77
After 6 months, will that PR get merged or even looked at

[2022-05-29 18:22] MikBighne98 commented on #77
Future updates like python 3.10 support coming or the project is dropped?

[2022-05-29 19:10] ooliver1 commented on #77
it seems as though cchardet has been abandoned, yet it is depended on by many large projects

[2022-06-21 18:47] NebularNerd commented on #77
Are there any good alternatives to cchardet? If the repo is not getting any love then quite a few projects will need a replacement.

[2022-06-21 18:53] ooliver1 commented on #77
^, it is possible to install `gcc` but this wont be the biggest issue forever, 3.11/12 may somehow break this

[2022-06-22 09:17] NebularNerd commented on #77
I assume this is for *nix users, I'm on Windows and it keeps throwing up the 'C++ 14 Required' error when I try to install. I assume because for Windows it's trying to compile using C++ instead of gcc

Does anyone know if I can manually compile this on Windows using my MinGW gcc install? I'd rather not download multi GB's of Visual Studio just for one python package.

[2022-06-22 16:34] ooliver1 commented on #77
@NebularNerd yes this was *nix, here are steps i found for windows using mingw
- add `C:\MinGW\bin` to PATH
- edit `PYTHONPATH\Lib\distutils` with a `distutils.cfg` file containing
[code]
<https://stackoverflow.com/a/5051281>

[2022-06-23 06:32] banagale commented on #77
It depends on what you're trying to do. There's an `MIT` licensed  package called [`charset_normalizer`](https://github.com/Ousret/charset_normalizer) many seem to have switched to.

`charset_normalizer` focuses on providing you the actual text content in usable, unicode form.

Whereas, it seems like cchardet focuses on trying to tell you what a text file is encoded in. In a project I'm working on

[2022-10-26 07:21] mohd-akram commented on #77
It was working for me on Python 3.10, but now fails to install on Python 3.11:

[code]

[2022-10-27 21:36] shubhamshah02 opened #81 "Failed to Build on Python 3.11.0"
### OS/Arch

[code]

### Python version
3.11.0

[code]

### cChardet version
Latest

[code]

### What is the problem?
Failed to build.
#### Expected behavior
Supposed to build.
#### Actual behavior
fatal error: longintrepr.h: No such file or directory
#### Steps to reproduce the behavior
Just update to Python 3.11 and attempt to build code results in error.

[2022-10-28 00:19] ToasterUwU commented on #81
Same here.

[code]

[2022-10-28 15:54] ToasterUwU commented on #81
nvm that issue mention, i made a little mistake and assumed that orjson depends on this, which it doesnt.

[2022-11-02 09:26] lvillis commented on #81
Same here.

[2022-11-03 19:01] seperman commented on #81
Same here

[2022-11-05 17:25] SimplicityGuy commented on #81
There are 2 PRs #78 and #80 that will address this. @PyYoshi, can you merge and release a new build, please?

[2022-11-05 17:25] SimplicityGuy commented on #77
There are 2 PRs #78 and #80 that will address this. @PyYoshi, can you merge and release a new build, please?

[2022-11-05 22:32] ooliver1 commented on #77
It is pretty established they have abandoned cchardet, see the PRs you referenced, #78 is nearly 1 year old.

[2022-11-05 23:07] SimplicityGuy commented on #77
Indeed. It's unfortunate since right now many downstream dependencies can't be completely installed with Python 3.11 due to build issues.

[2022-11-06 09:51] NebularNerd commented on #77
At this stage it's come down to either moving to [charset_normalizer](https://github.com/Ousret/charset_normalizer) or if someone is willing to, fork this and make cchardet-ng or similar.

[2022-11-19 10:48] woctezuma commented on #81
I encounter the same issue with the `cchardet` package.

I have noticed as I wanted to install [`ASF_IPC`](https://pypi.org/project/ASF-IPC/), which [depends on](https://github.com/deluxghost/ASF_IPC/blob/master/requirements.txt) two other packages:
[code]

For the `aiohttp` package, the issue was solved in September:
- https://github.com/aio-libs/aiohttp/issues/6600

[2022-11-19 13:31] ToasterUwU commented on #81
@PyYoshi Doesnt seem to come back to take care of this. Tried to contact them on all platforms I could find them on, never got any response.

Its also well known that they don't maintain this, it has been like this for months.

So chances for an update are very slim. I recommend everyone who uses this, to find an alternative.

[2022-11-19 14:51] woctezuma commented on #81
It is definitelly a bit weird that [the requirements](https://github.com/PyYoshi/cChardet/blob/master/requirements-dev.txt) mention `chardet` v3 when [the current version is v5](https://pypi.org/project/chardet/), which was [updated for Python v3.11](https://github.com/chardet/chardet/pull/274).

However, I think one would have to also change other requirements, notably the version of Cython.

[2022-11-19 17:24] seperman commented on #81
Someone should fork this repo and start publishing it on Pypi as cchardet2.

Sep Dehpour

[2022-11-19 19:11] ToasterUwU commented on #81
@seperman There is also a process that allows to transfer Pypi projects to a new user when the old owner is inactive.

Don't know exactly how it works, but I know it exists

[2022-11-19 23:49] seperman commented on #81
That process needs it to go through some pypi committee voting to change ownership. I recently lost my 2 factor auth to pypi. In order to get back access to my account, Pypi took about eight months. It didn't even need to go through a committee, and it took that long.

Sep Dehpour

[2022-11-20 09:00] ToasterUwU commented on #81
Even if it takes long, it should still be done.

Throwing it away and making a new package is not a good idea in my opinion. Since it forces everyone who depends on it to figure out there is a new one and than switch.

[2022-11-20 09:37] seperman commented on #81
Do you want to wait a couple of years until the PyPI committee votes for it? You can start the process now but in the meantime, have cchardet2 on pypi. Personally if I can not use it with Python 3.11 by the end of the month, I will simply stop using cchardet altogether.

Sep Dehpour

[2022-11-20 18:44] ToasterUwU commented on #81
@seperman Im neither attached enough to take this project under my wings, or enough of a C nerd to even be able to maintain this.

Besides that, Pypi will not take years to do this. Definetly not.
I heard a few stories about people needing to use this option, and from what I heard, it was only a matter of months.

Multiple months is still quiet some time. But just slapping a 2 behind the name and

[2022-11-25 17:39] wbarnha commented on #81
We use this project for https://github.com/faust-streaming/faust and we're trying to migrate everything to support Python 3.11. I am willing to take a try at upgrading things in this project, in my own fork, for Python 3.11.

[2022-11-28 06:05] seperman commented on #81
@wbarnha Cool. Please let us know once you fork it.

[2022-11-28 06:06] seperman commented on #81
@ToasterUwU The last time @PyYoshi RIP pushed any code to this code base seems to be 2 years ago.

[2022-11-28 13:47] wbarnha commented on #81
I've made a fork at https://github.com/faust-streaming/cChardet and I'm going to merge the pending PRs into it.

[2022-11-28 20:04] wbarnha commented on #81
@seperman wheels for cchardet on Python 3.11 are now available!
[code]
Sadly, wheels for Windows are not available at the moment until I figure out what's going on with https://github.com/faust-streaming/cChardet/actions/runs/3568007197.

[2022-11-29 00:46] seperman commented on #81
Awesome! Thanks.